
.gradient-custom {
    /* fallback for old browsers */
      background-color: darkolivegreen;
    
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, darkolivegreen, rgb(252, 155, 37));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: linear-gradient(to right, darkolivegreen, rgba(252, 155, 37));
    

   
 }
